.marginTitleTop {
    margin-top: 50px;
}

.marginUploadButton {
    margin-top: 60px;
}

.marginMessage {
    margin-top: 80px;
    margin-bottom: 25px;
}

.marginProgressBar {
    margin-top: 75px;
    margin-bottom: 25px;
}
