
$primary: #083D77;
$link: #1B61C2;
$info: #FFFFFF;
$success: #3BE3B3;
$warning: #FE9000;
$danger: #DF2935;
$dark: #06231B;
$text: #03120E;

$pagination-color: #03120E;
$pagination-border-color: #06231B;
$body-background-color: #F1F7F9;

.horizontal-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-login{
    width: 100rem;
    height: 45rem;
}

.menu-color{
    background-color: $info;
    padding: 10px;
}

.box-menu{
    max-height: 92vh;
    overflow-y: auto;
}

.box-menu::-webkit-scrollbar {
    display: none;
}

@import "../node_modules/bulma/bulma.sass";



